body{
  padding: 50px 10% 0 10%;
  margin: auto;
  text-align: center;
  width: 70%;
}

input{
  width: 300px;
  font-size: 1em;
}

button {
  height: 25px;
  position: relative;
  bottom: 2px;
}

.list-title{
  margin-top: 20px;
  padding: 10px;
  color: white;
  background: black;
  text-align: center;
  border-radius: 5px;
}

.list-entry{
  text-align: center;
  margin-top: 5px;
  height: 60px;
  background: green;
  border-radius: 5px;
}

.mybutton {
  width: 30%;
  display: inline-block;
  font-size: 1em;
  position: relative;
  margin: 10px 0 10px 0;
}
.event, .alarm-time, .remaining-time, .day{
  display: inline-block;
  color: white;
  position: relative;
  top: 10px;
}

.event{
  position: relative;
  left: -10px;
  font-size: 2em;
}

.clock{
  display: inline-block;
  font-size: 2em;
}

input {
  text-align: center;
}

.alert{
  background:red;
}
