body{
  padding: 50px 10% 0 10%;
  margin: auto;
  text-align: center;
  width: 70%;
}

input{
  width: 300px;
  font-size: 1em;
  text-align: center;
}

button {
  height: 25px;
  position: relative;
  bottom: 2px;
}

.list-title{
  margin-top: 20px;
  padding: 10px;
  color: white;
  background: black;
  text-align: center;
  border-radius: 5px;
}

.list-entry{
  text-align: center;
  margin-top: 5px;
  height: 60px;
  background: green;
  border-radius: 5px;
}

.mybutton {
  width: 50%;
  display: inline-block;
  font-size: 1em;
  position: relative;
  margin: 10px 0 10px 0;
}
.event, .alarm-info, .remaining-time {
  height: 100%;
  position: relative;
  display: inline-block;
  color: white;
}

.remaining-time{
  height: 60px;
  line-height: 60px;
  float: left;
  width: 30%;
  font-size: 1.2em;
}

.event{
  height: 60px;
  line-height: 60px;
  width: 30%;
  font-size: 1em;
}

.alarm-info{
  float: right;
  width: 30%;
}

.clock{
  display: inline-block;
  font-size: 2em;
}

.alarm-day, .alarm-time {
  font-size: .8em;
  padding: 5px;
  margin: 0;
}


.alert{
  background:red;
}

.tomorrow{
  background: blue;
}
